<%- include('partials/header.ejs'); -%>

<h1><%= title %></h1>

<h1><%= category.name %></h1>

<div class="edit-container">
  <p><a class="button-update" href="<%= category.url %>/update">Update Category</a></p>
  <p><a class="button-delete" href="<%= category.url %>/delete">Delete Category</a></p>
</div>

<div style='margin-left:20px;margin-top:20px'>

    <h2 style='font-size: 1.5rem;'>Products:</h2>

    <% if (category_products.length) { %>
      <table class="product-table">
        <thead>
          <tr>
            <th></th>
            <th>Product</th>
            <th>Product Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% category_products.forEach(function(product) { %>
            <tr>
              <td><img style="width: 100px;" src="<%= product.pic_url%>"/></td>
              <td><p><a href="<%= product.url %>"><%= product.title %></a></p></td>
              <td><p><%= product.description %></p></td>
              <td><p><a class="button-delete" href="<%= product.url %>/delete">Delete</a></p></td>
            </tr>
        <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <p>No products in this category.</p>
    <% } %>
  </div>

</div>
</div>
</body>
</html>