<%- include('partials/header.ejs'); -%>

<h1><%= title %>: <%= category.name %></h1>

<% if (category_products.length) { %>
  <p><strong>Delete the following products before attempting to delete this category.</strong></p>
  <div style='margin-left:20px;margin-top:20px'>
    <h4>Products</h4>
    <table class="product-table">
      <thead></thead>
      <tbody>
        <% category_products.forEach(function(product) { %>
           <tr>
            <td><img style="width: 100px;" src="<%= product.pic_url %>"/></td>
            <td><a><%= product.title%></a></td>
            <td><p><a class="button-delete" style="text-decoration: none;" href="<%= product.url %>/delete">Delete Product</a></p></td>
           </tr>  
        <% }); %>
      </tbody>
    </table>
  </div>
<% } else { %>
  <p>Do you really want to delete this Category?</p>
  <form method='POST'>
    <div class="form-group">
      <input id="categoryid" class="form-control" type="hidden" name="categoryid" value="<%= category._id %>">
    </div>
    <button class="button-delete" type="submit">Delete</button>
  </form>
<% } %>

</div>
</div>
</body>
</html>