<%- include('partials/header.ejs'); -%>

<h1><%= title %></h1>

<img class="gla-soldiers-img" src="/images/GLA-soldiers.JPG"/>

<p>Welcome to <em>Global Liberation Army`s Stockpile</em>!</p>

<h2>Store content:</h2>

<p>The store has the following record counts:</p>

<ul>
    <li><strong>Products:</strong> <%= product_count %></li>
    <li><strong>Manufacturers:</strong> <%= manufacturer_count %></li>
    <li><strong>Categories:</strong> <%= category_count %></li>
  </ul>

</div>
</div>
</body>
</html>
