<%- include('partials/header.ejs'); -%>

<h1><%= title %></h1>

<div style="display: flex;">
    <img style="width: 130px;" src="<%= manufacturer.logo_url %>"/>
    <h1><%= manufacturer.name %></h1>
</div>

<div>
    <p><%= manufacturer.description %></p>
</div>

<div class="edit-container">
  <p><a class="button-update" href="<%= manufacturer.url %>/update">Update Manufacturer</a></p>
  <p><a class="button-delete" href="<%= manufacturer.url %>/delete">Delete Manufacturer</a></p>
</div>

<div style='margin-left:20px;margin-top:20px'>

  <h2 style='font-size: 1.5rem;'>Products:</h2>
    
  <% if (manufacturer_products.length) { %>
    <table class="product-table">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th>Product Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% manufacturer_products.forEach(function(product) { %>
          <tr>
            <td><img style="width: 100px;" src="<%= product.pic_url %>"/></td>
            <td><p><a href="<%= product.url %>"><%= product.title %></a></p></td>
            <td><p><%= product.description %></p></td>
            <td><p><a class="button-delete" href="<%= product.url %>/delete">Delete</a></p></td>
          </tr>  
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <p>This manufacturer has no products.</p>
  <% } %>
</div>

</div>
</div>
</body>
</html>