<%- include('partials/header.ejs'); -%>

<h1><%= title %></h1>
<div class="form-container">
    <form method="POST" class="input-form">
        <div class="form-row">
            <label for="name">Name:</label>
            <input id="name" name="name" type="text" placeholder="Company name" value="<%= typeof manufacturer === 'undefined' ? '' : manufacturer.name %>" required/>
        </div>
        <div class="form-row">
            <label for="origin">Origin:</label>
            <input id="origin" name="origin" type="text" placeholder="Country" value="<%= typeof manufacturer === 'undefined' ? '' : manufacturer.origin %>" />
        </div>
        <div class="form-row">
            <label for="logo_url">Logo url:</label>
            <input id="logo_url" name="logo_url" type="text" placeholder="Logo url" value="<%= typeof manufacturer === 'undefined' ? '' : manufacturer.logo_url %>" />  
        </div>
        <div class="form-row">
            <label for="founded">Founded:</label>
            <input id="founded" name="founded" type="number" min="1800" max="2099" step="1" placeholder="2024" value="<%= typeof manufacturer === 'undefined' ? '' : manufacturer.founded %>"/>
        </div>
        <div class="form-row">
            <label for="description">Description:</label>
            <textarea id="description" name="description" type="text" placeholder="Description..."><%= typeof manufacturer === 'undefined' ? '' : manufacturer.description %></textarea>
        </div>
        <div class="form-row">
            <label for="homepage_url">Homepage url:</label>
            <input id="homepage_url" name="homepage_url" type="text" placeholder="Homepage" value="<%= typeof manufacturer === 'undefined' ? '' : manufacturer.homepage_url %>"/>
        </div>       
        <button type="submit">Submit</button>
    </form>
</div>

<% if(locals.errors){ %>
    <ul>
       <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
       <% }) %>
    </ul>
<% } %>

</div>
</div>
</body>
</html>