<%- include('partials/header.ejs'); -%>

<h1><%= title %></h1>

<div style="display: flex;">
    <img style="width: 100px;" src="<%= manufacturer.logo_url %>"/>
    <h1><%= manufacturer.name %></h1>
</div>

<div>
    <p><%= manufacturer.description %></p>
</div>

<div style='margin-left:20px;margin-top:20px'>

  <h2 style='font-size: 1.5rem;'>Products</h2>

  <ul>
      <% if (manufacturer_products.length) { %>
        <li>
          <% manufacturer_products.forEach(function(product) { %>
            <div style="display: flex; gap: 1rem;">
                <p><a href="<%= product.url %>"><%= product.title %></a></p>
                <p><%= product.description %></p>
            </div>
          <% }); %>
        </li>
      <% } else { %>
        <p>This author has no books.</p>
      <% } %>
  </ul>

</div>

</div>
</div>
</body>
</html>