<%- include('partials/header.ejs'); -%>

<div class="content">
    <h1><%= title %></h1>
    <% if (product_list.length) { %>
      <ul>
        <% product_list.forEach(function(product) { %>
          <li style="display: flex; gap:1rem; align-items: center;">
            <img style="width: 50px;" src=<%= product.pic_url %> />
            <a href="<%= product.url %>"><%= product.title %></a>
            (<%= product.manufacturer.name %>)
            <p><%= product.action%></p>
            <p><%= product.caliber%></p>
            <p><%= product.quantity%></p>
            <ul>
              <%product.category.forEach(function(c){%>
                <li><%=c.name%></li>
              <%})%>
            </ul>
            <p>$<%= product.price%></p>
          </li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>There are no products.</p>
    <% } %>
  </div>

</div>
</div>
</body>
</html>